tiki-talk/n8n/tiki-talk-google-sheets-capture.json
{
  "name": "Tiki Talk - Lead Capture and Email Notifications",
  "nodes": [
    {
      "id": "8df38d84-6616-4bd8-97ca-6f8358f1f10f",
      "name": "Newsletter Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -160
      ],
      "parameters": {
        "path": "tiki-talk/newsletter",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2bf1df0f-8c2b-4fbb-bc23-fdeca1b52fd4",
      "name": "Map Newsletter Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        -160
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9539f5b4-ff11-44b5-a8d8-6a81599f40f7",
              "name": "email",
              "value": "={{ String($json.body.email || $json.body.Email || '').trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "e6727d7e-7fac-4434-928c-1bd5e89ba8de",
              "name": "formType",
              "value": "={{ $json.body.formType || 'newsletter' }}",
              "type": "string"
            },
            {
              "id": "352cc33a-3c2e-4e53-9582-2bdbb9a232f6",
              "name": "source",
              "value": "={{ $json.body.source || 'newsletter' }}",
              "type": "string"
            },
            {
              "id": "c504ca1e-74f3-46ea-8386-a3af9fa6e159",
              "name": "sourceUrl",
              "value": "={{ $json.body.sourceUrl || $json.body.pageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "cf456af3-1f6a-48a4-9424-3d56139f47cc",
              "name": "submittedAt",
              "value": "={{ $json.body.submittedAt || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b127d4a2-195d-45de-bbc7-978f7760e605",
              "name": "dateSent",
              "value": "={{ $json.body.dateSent || $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "20d64fb3-e429-4478-b630-dc79f6fbd57c",
              "name": "executionMode",
              "value": "={{ $json.executionMode }}",
              "type": "string"
            },
            {
              "id": "c51868e2-7e87-45bb-8ed8-080b7bf95b1f",
              "name": "origin",
              "value": "={{ $json.headers.origin || '' }}",
              "type": "string"
            },
            {
              "id": "6e3d88c7-578c-46bb-a02c-1ba33f7f3f74",
              "name": "userAgent",
              "value": "={{ $json.headers['user-agent'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f659af6e-c1b2-4263-ab6c-c6755dbb86d7",
      "name": "Add Newsletter Row to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -160
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TIKI_TALK_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Newsletter"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Form Type": "={{ $json.formType }}",
            "Source": "={{ $json.source }}",
            "Source URL": "={{ $json.sourceUrl }}",
            "Submitted At": "={{ $json.submittedAt }}",
            "Date Sent": "={{ $json.dateSent }}",
            "Execution Mode": "={{ $json.executionMode }}",
            "Origin": "={{ $json.origin }}",
            "User Agent": "={{ $json.userAgent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Type",
              "displayName": "Form Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution Mode",
              "displayName": "Execution Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "3f2a0ed5-f3a3-481b-a036-67e7c7f51ae4",
      "name": "Send Newsletter Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        120,
        -160
      ],
      "webhookId": "0a45cf98-9b59-4285-b5b0-8e66eeed5785",
      "parameters": {
        "sendTo": "REPLACE_WITH_NOTIFICATION_EMAIL",
        "subject": "=New Tiki Talk Newsletter Lead: {{ $json.Email }}",
        "emailType": "text",
        "message": "=A new Tiki Talk newsletter lead was received.\n\nEmail: {{ $json.Email }}\nForm Type: {{ $json['Form Type'] }}\nSource: {{ $json.Source }}\nSource URL: {{ $json['Source URL'] }}\nSubmitted At: {{ $json['Submitted At'] }}\nDate Sent: {{ $json['Date Sent'] }}\nExecution Mode: {{ $json['Execution Mode'] }}\n",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "5e3b7b1f-a1bd-4d95-96f5-979897979a29",
      "name": "Newsletter Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        -160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Newsletter signup saved.' } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "8c4a724f-2d6f-4a58-af53-5f4cbd13ff0f",
      "name": "Club Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        160
      ],
      "parameters": {
        "path": "tiki-talk/club",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "611fb425-67ba-4228-82ca-a8eab74d5dd7",
      "name": "Map Club Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        160
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42322628-2d2c-4b12-b3e5-710b7d64d037",
              "name": "email",
              "value": "={{ String($json.body.email || $json.body.Email || '').trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "bfde0c2d-cd44-42a4-85e2-9b9f731432df",
              "name": "formType",
              "value": "={{ $json.body.formType || 'club' }}",
              "type": "string"
            },
            {
              "id": "8295979d-89c3-4fbb-b7cf-47119a4e52d8",
              "name": "source",
              "value": "={{ $json.body.source || 'club' }}",
              "type": "string"
            },
            {
              "id": "f8ea14b5-8b5a-4393-ac99-4fe7dc6731b4",
              "name": "sourceUrl",
              "value": "={{ $json.body.sourceUrl || $json.body.pageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "38dbf8ce-9113-4d2b-bc5d-d65dcfa783a5",
              "name": "submittedAt",
              "value": "={{ $json.body.submittedAt || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e6dd9b7b-c7de-47bb-8a05-0d3626e927af",
              "name": "dateSent",
              "value": "={{ $json.body.dateSent || $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "a4eea8a3-a491-4ee2-b624-153b61ad6722",
              "name": "executionMode",
              "value": "={{ $json.executionMode }}",
              "type": "string"
            },
            {
              "id": "65835c54-b6cb-46fa-a822-d50472251e24",
              "name": "origin",
              "value": "={{ $json.headers.origin || '' }}",
              "type": "string"
            },
            {
              "id": "1ce3abea-04c2-4a03-889d-7f96d920a1d9",
              "name": "userAgent",
              "value": "={{ $json.headers['user-agent'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "7fc67f7d-315d-4819-bbf8-3b8fd09c6b3e",
      "name": "Add Club Row to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        160
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TIKI_TALK_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Club Members"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Form Type": "={{ $json.formType }}",
            "Source": "={{ $json.source }}",
            "Source URL": "={{ $json.sourceUrl }}",
            "Submitted At": "={{ $json.submittedAt }}",
            "Date Sent": "={{ $json.dateSent }}",
            "Execution Mode": "={{ $json.executionMode }}",
            "Origin": "={{ $json.origin }}",
            "User Agent": "={{ $json.userAgent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Type",
              "displayName": "Form Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution Mode",
              "displayName": "Execution Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "2853ad70-b5d7-4b4c-94bb-a2ef3d09e2a9",
      "name": "Send Club Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        120,
        160
      ],
      "webhookId": "4bbbd873-5345-4723-90ee-cf44e76ce41e",
      "parameters": {
        "sendTo": "REPLACE_WITH_NOTIFICATION_EMAIL",
        "subject": "=New Tiki Talk Club Lead: {{ $json.Email }}",
        "emailType": "text",
        "message": "=A new Tiki Talk club lead was received.\n\nEmail: {{ $json.Email }}\nForm Type: {{ $json['Form Type'] }}\nSource: {{ $json.Source }}\nSource URL: {{ $json['Source URL'] }}\nSubmitted At: {{ $json['Submitted At'] }}\nDate Sent: {{ $json['Date Sent'] }}\nExecution Mode: {{ $json['Execution Mode'] }}\n",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "4d171638-5d79-4147-96da-7d91f1e3b42e",
      "name": "Club Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Club request saved.' } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Newsletter Webhook": {
      "main": [
        [
          {
            "node": "Map Newsletter Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Newsletter Lead Data": {
      "main": [
        [
          {
            "node": "Add Newsletter Row to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Newsletter Row to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Newsletter Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter Email Notification": {
      "main": [
        [
          {
            "node": "Newsletter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Club Webhook": {
      "main": [
        [
          {
            "node": "Map Club Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Club Lead Data": {
      "main": [
        [
          {
            "node": "Add Club Row to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Club Row to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Club Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Club Email Notification": {
      "main": [
        [
          {
            "node": "Club Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d05bfe72-0f53-43bd-a166-a7c1cfcdb2d7"
}
