tiki-talk/n8n/tikitaka-submissions-google-sheets.json
{
  "name": "Tikitaka Submissions to Google Sheets",
  "nodes": [
    {
      "id": "1d4bd0db-7491-46f2-9c4f-0f0ac4689fcf",
      "name": "Tikitaka Submissions Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "tikitaka-submissions",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "7caed8b7-dfc7-40d9-82a4-676468c91b83",
      "name": "Append Submission to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        300,
        0
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userName": "={{ String($json.body.userName || '').trim() }}",
            "userEmail": "={{ String($json.body.userEmail || '').trim().toLowerCase() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "9e1b5f40-53e4-4261-9e99-f15bd3e60f2f",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { message: 'Success' } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Tikitaka Submissions Webhook": {
      "main": [
        [
          {
            "node": "Append Submission to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Submission to Sheet": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f62086ef-12af-4bbf-95d0-a1eaed99fc3d"
}
