tiki-talk/n8n/tiki-talk-google-sheets-capture.json
{
  "name": "Tiki Talk - Newsletter and Club Capture",
  "nodes": [
    {
      "id": "8df38d84-6616-4bd8-97ca-6f8358f1f10f",
      "name": "Newsletter Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "tiki-talk/newsletter",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "f659af6e-c1b2-4263-ab6c-c6755dbb86d7",
      "name": "Save Newsletter Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        280,
        0
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_NEWSLETTER_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Newsletter"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ String($json.body.email || '').trim().toLowerCase() }}",
            "Submitted At": "={{ $json.body.submittedAt || $now.toISO() }}",
            "Page URL": "={{ $json.body.pageUrl || '' }}",
            "Source": "={{ $json.body.source || 'newsletter' }}",
            "Origin": "={{ $json.headers.origin || '' }}",
            "User Agent": "={{ $json.headers['user-agent'] || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Page URL",
              "displayName": "Page URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "5e3b7b1f-a1bd-4d95-96f5-979897979a29",
      "name": "Newsletter Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Newsletter signup saved to Google Sheets.' } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "8c4a724f-2d6f-4a58-af53-5f4cbd13ff0f",
      "name": "Club Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        260
      ],
      "parameters": {
        "path": "tiki-talk/club",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "7fc67f7d-315d-4819-bbf8-3b8fd09c6b3e",
      "name": "Save Club Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        280,
        260
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_CLUB_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Club Members"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ String($json.body.email || '').trim().toLowerCase() }}",
            "Submitted At": "={{ $json.body.submittedAt || $now.toISO() }}",
            "Page URL": "={{ $json.body.pageUrl || '' }}",
            "Source": "={{ $json.body.source || 'club' }}",
            "Origin": "={{ $json.headers.origin || '' }}",
            "User Agent": "={{ $json.headers['user-agent'] || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Page URL",
              "displayName": "Page URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origin",
              "displayName": "Origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "4d171638-5d79-4147-96da-7d91f1e3b42e",
      "name": "Club Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Club request saved to Google Sheets.' } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Newsletter Webhook": {
      "main": [
        [
          {
            "node": "Save Newsletter Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Newsletter Lead": {
      "main": [
        [
          {
            "node": "Newsletter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Club Webhook": {
      "main": [
        [
          {
            "node": "Save Club Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Club Lead": {
      "main": [
        [
          {
            "node": "Club Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f9690c8-58c8-4e89-b766-b36b87526374"
}
